In [32]:
import pandas as pd
import numpy as np

import matplotlib
import matplotlib.pyplot as plt

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

from config import password
from sqlalchemy import create_engine, inspect
engine = create_engine('postgresql://postgres:'+password+'@localhost:5432/employee_db')
connection = engine.connect()

ImportError: cannot import name 'password' from 'config' (/Users/ashleygates/SQL-Challenge/EmployeeSQL/config.py)

ImportError: cannot import name 'password' from 'config' (/Users/ashleygates/SQL-Challenge/EmployeeSQL/config.py)

In [29]:
#Get table with employees and salary by join method
employees_with_sal_df = pd.read_sql("SELECT e.emp_no, e.last_name, e.first_name, s.salary FROM employees e NATURAL JOIN salaries s", conn)
employees_with_sal_df.head()

NameError: name 'conn' is not defined

In [ ]:
sal = employees_with_sal_df['salary']
plt.hist(sal, edgecolor= 'black',bins = range(25000,150000,10000))
plt.xlabel('Salary')
plt.ylabel('Number of Employees')
plt.title('Salary Ranges for Employees')
plt.show()
plt.savefig('images/histogram.png')

In [ ]:

#Get table with title and their avg salary
avg_sal_by_title = pd.read_sql("SELECT t.title, ROUND(AVG(s.salary),0) FROM employees e JOIN titles t ON (e.emp_title_id = t.title_id) JOIN salaries s ON (s.emp_no = e.emp_no) GROUP BY t.title",conn)
avg_sal_by_title

In [ ]:

x_axis = avg_sal_by_title['title']
y_axis = avg_sal_by_title['round']

plt.bar(x_axis, y_axis, color='r', edgecolor='black',alpha=0.5, align="center")
plt.xlabel('Titles')
plt.ylabel('Salary')
plt.title('Average Salary by Title')
plt.xticks(rotation='75')
plt.show()
plt.savefig('images/avg_sal_title.png')